<div class="container">
    <div class="row justify-content-center align-center">
        <div class="col-lg-10">
            <div ngbAccordion class="mt-3">
                @for (gardenPlants of gardenPlantsStoreService.gardenPlants();
                track gardenPlants.speciesId) {
                <div ngbAccordionItem>
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            {{ gardenPlants.species.speciesName }}
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                @if(gardenPlants.specificPlants) {
                                <app-plant-accordion-item
                                    [plantsFromOneSpecies]="
                                        gardenPlants.specificPlants
                                    "
                                    [plantName]="
                                        gardenPlants.species.speciesName
                                    "
                                    (onWaterPlantClick)="
                                        handleWaterPlantClick($event)
                                    "
                                ></app-plant-accordion-item>
                                }
                            </ng-template>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
