<div class="login-form-container container-fluid shadow p-3 bg-body rounded">
  <app-alert [message]="error" *ngIf="error != null" (close)="onCloseAlert()"></app-alert>
  
  <div class="row mb-4 mt-2">
        <div class="col-12">
            <h1 class="text-center app-title">My plants</h1>
        </div>
    </div>

  <form [formGroup]="authForm" (ngSubmit)="onAuthButtonClicked()">
    
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label">Email address</label>
      <input type="email"
             class="form-control"
             formControlName="email"/>
      <div *ngIf="authForm.get('email').invalid && authForm.get('email').touched"
           class="form-text" style="color: darkred">
        Please choose an email.
      </div>
    </div>

    <!-- Username input -->
    <div class="form-outline mb-4" *ngIf="!isLoginView">
      <label class="form-label">Username</label>
      <input type="text"
            class="form-control"
            formControlName="username"/>
      <div *ngIf="authForm.get('username').invalid && authForm.get('username').touched"
          class="form-text" style="color: darkred">
        Please choose a username.
      </div>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label">Password</label>
      <input type="password"
             class="form-control"
             formControlName="password"/>
      <div *ngIf="authForm.get('password').invalid && authForm.get('password').touched"
           class="form-text" style="color: darkred">
        Please choose a password.
      </div>
    </div>

    <div class="button-container">
      <span>
        <button type="submit"
        class="btn btn-primary btn-block mb-4 btn-bd-primary"
        [disabled]="authForm.invalid">
          {{isLoginView ? 'Login' : 'Sign up'}}
        </button>
        <app-spinner *ngIf="isLoading"></app-spinner>
      </span>
    </div>
  </form>

  <div class="text-center">
    <p>
      {{isLoginView ? "Not a member?": "Already a member?"}} 
      <button 
        (click)="onChangeLoginType()"
        class="btn btn-secondary"
        style="margin-left: 1rem;">
        {{isLoginView ? "Sign up" : "Login"}}
      </button>
    </p>
  </div>
</div>
