<div class="login-form-container container-fluid shadow p-3 bg-body rounded">
    <div class="row mb-4 mt-2">
        <div class="col-12">
            <h1 class="text-center app-title">My plants</h1>
        </div>
    </div>

  <form [formGroup]="registerForm" (ngSubmit)="onLoginButtonClicked()">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email"
             id="form2Example1"
             class="form-control"
             formControlName="email"/>
      <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched"
           class="form-text" style="color: darkred">
        Please choose an email.
      </div>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password"
             id="form2Example2"
             class="form-control"
             formControlName="password"/>
      <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched"
           class="form-text" style="color: darkred">
        Please choose a password.
      </div>
    </div>

    <div class="button-container">
      <button type="submit"
              class="btn btn-primary btn-block mb-4 btn-bd-primary"
              [disabled]="registerForm.invalid && registerForm.touched">Sign up
      </button>
    </div>
  </form>

  <div class="text-center">
    <p>Not a member? <a routerLink="../register">Log in</a></p>
  </div>
</div>
