<div class="find-plants-container">
    <div class="plants-container">
        <ng-container *ngFor="let plant of species; index as i">
            <div *ngIf="showItem(i)" >
                <app-plant [plant]="plant" (showDetails)="onShowDetails(plant)">
                </app-plant>
            </div>
        </ng-container>
    </div>
    <app-plant-modal  
        *ngIf="showModal"
        [plant]="selectedSpecies"
        [isCollectionItem]="isCollection"
        (closeModal)="onCloseDetails()">
    </app-plant-modal>
</div>
