<div class="card" style="width: 18rem;">
    <img src="{{plant.imageUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{plant.speciesName}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Family: {{plant.family}}</h6>
    </div>
    <div class="card-footer text-muted">
         <span>
            {{plant.ownersCount}} people own
         </span>
        <button class="btn btn-primary btn-sm btn-bd-primary" style="float: right">
            Add to collection
        </button>
    </div>
</div>
