
<div class="card" style="width: 18rem;">
    <img src="{{plant.imageUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{plant.speciesName}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Family: {{plant.family}}</h6>
    </div>
    <div class="card-footer text-muted">
        <div style="width: 100%">
            {{plant.ownersCount}} people own
            <button class="btn btn-primary btn-sm" style="margin-left: auto;margin-right: 0; position: relative;">Add to collection</button>
        </div>
    </div>
  </div>