<ul class="list-group list-group-flush">
    @for (plant of plantsFromOneSpecies(); track $index ) {
    <li class="list-group-item" style="display: flex; align-items: center">
        <span>
            {{ plant.plantName }}
        </span>
        <span class="watered">
            Last time watered:
            {{ lastTimeWatered(plant) }}
            <div ngbDropdown class="d-inline-block">
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                >
                    Options
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button
                        ngbDropdownItem
                        (click)="handleWaterPlantClick(plant.plantId)"
                    >
                        Water the plant
                    </button>
                    <button ngbDropdownItem (click)="handleRenamePlant()">
                        Rename
                    </button>
                    <button
                        ngbDropdownItem
                        style="color: red"
                        (click)="handleRemovePlant(plant.plantId)"
                    >
                        Remove
                    </button>
                </div>
            </div>
        </span>
    </li>
    }
</ul>
