@import "styles";

.custom-nav {
  background-color: $primary;
}

.icon-button {
  color: white;
  cursor: pointer;
}

.menu-item {
  cursor: pointer;
  padding-left: 0.7rem;
}

.right {
  margin-left: auto;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}
.red {
  color: red;
}

.search-input {
  width: 200px;
  @media (max-width: 500px) {
    width: 100px;
  }
}
