@import "styles";

.custom-nav {
  background-color: $primary;
}

.icon-button {
  color: white;
  cursor: pointer;
}

.menu-item {
  cursor: pointer;
  padding-left: 0.7rem;
}

.right {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}
.red {
  color: red;
}
