.plant-modal-card{
    box-shadow:0 0 0 1600px rgba(0,0,0,0.65);
    border: 0;
    width: 32rem;
}

.btn{
    float: right;
}

img {
    max-height: 24rem;
    object-fit: cover;
  }
  
.plant-modal-container{
    position: fixed;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}